html(lang='en')
head
	meta(charset='utf-8')
	link(rel="stylesheet", href="css/app.css")
	title test.
	// bower:css
	// endbower
	body

		script(src='js/app.js')
		// bower:js
		script(src='/bower_components/jquery/dist/jquery.js')
		// endbower